h1 {
  text-align: center;
}
button{
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.sketch-container {
  display: flex;
  margin: auto;
  width: 80vh;
  height: 80vh;
  border: 2px solid black;
}